<%= form_tag real_estates_path, method: 'get', enforce_utf8: false, class: 'four columns' do %>
  <div class="sidebar-box search-listings search-wrap">
    <h3>Encontre seu imóvel:</h3>
    <div style="display: block;">
      <%= label_tag 'Tipo', nil, class: 'sideText' %>
      <%= select_tag(:category, options_for_select(RealEstateCategories.to_a) , { include_blank: 'Selecione', class: "busca" } )%>

      <%= label_tag 'Dormitórios', nil, class: 'sideText'  %>
      <%= select_tag(:dorms_quantity, options_for_select(options_to_dorms) , { include_blank: 'Selecione', class: "busca" } )%>

      <%= label_tag 'Área', nil, class: 'sideText'  %>
      <%= select_tag(:area, options_for_select(options_to_area) , { include_blank: 'Selecione', class: "busca" } )%>

      <%= label_tag 'Preço', nil, class: 'sideText'  %>
      <%= select_tag(:price, options_for_select(options_to_buy) , { include_blank: 'Selecione', class: "busca" } )%>

      <%= label_tag 'Bairro', nil, class: 'sideText'  %>
      <%= select_tag(:neighborhood, options_for_select(Neighborhoods.to_a) , { include_blank: 'Selecione', class: "busca" } )%>
    </div>
    <%= button_tag 'Buscar', class: 'button soft-green' %>
  </div>
<% end %>
