<div style="display: block;">
  <%= label_tag 'Tipo', nil, class: 'sideText' %>
  <%= select_tag('tipo', options_for_select(options_to_type) , { include_blank: 'Selecione', class: "busca" } )%>

  <%= label_tag 'Dormitórios', nil, class: 'sideText'  %>
  <%= select_tag('dormitórios', options_for_select(options_to_dorms) , { include_blank: 'Selecione', class: "busca" } )%>

  <%= label_tag 'Área', nil, class: 'sideText'  %>
  <%= select_tag('area', options_for_select(options_to_area) , { include_blank: 'Selecione', class: "busca" } )%>

  <article id="buy">
    <%= label_tag 'Preço', nil, class: 'sideText'  %>
    <%= select_tag('preco', options_for_select(options_to_price) , { include_blank: 'Selecione', class: "busca" } )%>
  </article>

  <article id="rent" style="display:none;">
    <%= label_tag 'aluguel', nil, class: 'sideText'  %>
    <%= select_tag('aluguel', options_for_select(options_to_rent) , { include_blank: 'Selecione', class: "busca" } )%>
  </article>

  <%= label_tag 'Bairro', nil, class: 'sideText'  %>
  <%= select_tag('bairro', options_for_select(options_to_neighborhood) , { include_blank: 'Selecione', class: "busca" } )%>

  <%= label_tag 'Referência', nil, class: 'sideText'  %>
  <%= text_field_tag('referencia') %>
</div>