<div class="row homepage-bg">
  <div class="twelve columns centered">
    <div class="eight columns">
      <!-- SLIDER HOME-->
      <!-- OPÇAO 1: deixar estático -->
      <!-- OPÇAO 2: mostrar 3 primeiros cadastrados, -->
      <div class="featured">
        <%= link_to real_estate_path('home') do %>
          <%= image_tag 'casa1.jpg', style: 'w' %>
        <% end %>
<!--         <%= link_to real_estate_path('home') do %>
          <%= image_tag 'casa2.jpg' %>
        <% end %>
        <%= link_to real_estate_path('home') do %>
          <%= image_tag 'casa3jpg' %>
        <% end %> -->
      </div>
    </div>

    <%= render partial: 'search_box' %>

  </div>
</div>

<div id="wrap" class="row">
  <%= render partial: 'real_estates' %>
</div><!--wrap-->